.meet-the-team {
  padding: 0 10% 5% 10%;
}

.meet-the-team > h3 {
  margin: 0 0 50px 0;
}

.meet-the-team > h3::before {
  content: 'Meet The Founder';
}

.team-member {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 400px;
    border-radius: 12px;
}

.team-member:hover {
    cursor: pointer;
}

.member-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    z-index: 1;
}

.member-image .static-image {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: .3s ease;
    border-radius: 12px;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* .team-member:hover .member-image .static-image {
    filter: grayscale(100%) brightness(0.5);
    transition: .3s ease;
} */

/* .team-member:hover .hover-image {
    opacity: 1;
    display: block;
    z-index: 2;
    animation: flicker 1s linear forwards;
} */

@keyframes flicker {
    0% { opacity: 0; }
    8% { opacity: 0.9; }
    12% { opacity: 0.2; }
    18% { opacity: 1; }
    22% { opacity: 0.3; }
    28% { opacity: 1; }
    34% { opacity: 0.1; }
    40% { opacity: 1; }
    50% { opacity: 0.4; }
    60% { opacity: 1; }
    68% { opacity: 0.7; }
    75% { opacity: 1; }
    82% { opacity: 0.9; }
    90% { opacity: 1; }
    100% { opacity: 1; }
}

/* .member-image h1 {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: yellow;
    text-align: right;
    font-size: 1rem;
    z-index: 3;
} */

.member-image h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin: 0 0 25px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--accent-color);
  text-align: center;
  font-size: 1.5rem;
}

.team-member:hover h1 {
    display: block;
}


.member-info {
    text-align: left;
}